certifi==2018.8.24
chardet==3.0.4
Django==2.0.8
django-environ==0.4.5
django-extensions==2.1.0
djangorestframework==3.11.2
environ==1.0
idna==2.7
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23
